Package: com.devvix.hideytoverlay
Name: HideYTOverlay
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide the background behind the YouTube overlay!
Maintainer: Devvix
Author: Devvix
Section: Tweaks
Icon: https://repo.devvix.com/assets/TweakIcons/hideytoverlayicon.jpg
Depiction: https://repo.devvix.com/depictions/?p=com.devvix.hideytoverlay
SileoDepiction: https://repo.devvix.com/sileodepictions/com.devvix.hideytoverlay/depiction.json
